.bio-container {
    max-width: 900px;
    /* border: 1px solid red; */
    margin: 150px auto 50px auto;
    background-color: #f2f2f2;
    padding: 25px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
}

.mch{
    min-height: 80vh;
    /* border: 1px solid red; */
    
}

.background-denver{
    background-image: url('../../images/denver.jpg');
}

.goal{
    grid-column-start: 2;
    grid-column-end: 4;
    font-size: 18px;
    padding: 15px;
}