.mch-md{
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    background-image: url('../../images/Buyers.jpg');
}


.container-b-info{
    position: relative;
    width: 60%;
    /* border: 1px solid red; */
    margin: 0 auto 0 auto;
    padding: 50px 0 0 0 ;
    z-index: 1;
}

.buyer-links{
    padding: 0 0 50px 0 ;
}

.back-page{
    color: #f2f2f293;
    font-size: 24px;
    text-decoration: none;
    margin-right: 15px;
}

.current-page{
    color: white;
    font-size: 24px;
    text-decoration: none;
    margin-left: 7.5px;
    margin-right: 7.5px;
}

.back-page:hover{
    color: white;
}

.title-page{
    font-size: 110px;
    letter-spacing: 5px;
}

.for-buyers-1{
    background-image: url('../../images/buyer-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.for-buyers-color{
    background-color: #4169e1;
}

.dark-blue-glass{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(65, 105, 225, 0.7);
    /* border: 1px solid red; */
    z-index: 0;
}

.no-margin{
    margin: 0;
}

.title-and-info{
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 0;
    padding: 25px;
    /* border: 1px solid red; */
    margin: auto;
    color: white;
    font-size: 18px;
    grid-gap: 25px;
}


.page-info-container{
    /* background-color: ; */
}

.page-info-title{
    font-size: 20px;
    width: 90%;
    margin: 0 0 15px 35px;
}

.page-info-long-title{
    font-size: 52px;
    padding: 0;
    margin: 0 0 0 35px;
    width: 90%;
    margin-right: auto;
}

.page-info-title::after {
    content: '';
    display: block;
    position: absolute;
    left: 75px;
    top: 47%;
    
    height: 2px;
    width: 68px;
    background: #fff;
    opacity: .5;
    margin-left: 15px;
  }

.page-info-block{
    font-size: 16px;
    line-height: 1.6;
    margin: 15px 0 0 35px;
    width: 90%;
}

.readable-color{
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 1px 15px 20px 10px rgba(0, 0, 0, 0.7);
}

.page-info-long-info{
    font-size: 15px;
    line-height: 1.6;
    letter-spacing: 1px;
}

.page-info-long-info p{
    padding-top: 0;
    margin-top: 0;
}

.bb::after{
    content: '';
    display: block;
    position: absolute;
    left: 195px;
    top: 47%;
    
    height: 2px;
    width: 68px;
    background: #fff;
    opacity: .5;
    margin-left: 15px;
}

.alternate-background{
    background-color: #577ae4;
}