.footer{
    background-color: royalblue;
    
}

.footer-logo{
    position: initial;
    width: initial;
    
    
    /* border: 1px solid red; */
}

.footer-container{
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 100%;
}

.name{
    margin: 15px;
    color: white;
    font-size: 35px;
    font-size: Raleway;
}

.name p{
    margin: 0 0 0 0;
}

.footer-nav{
    display: flex;
    flex-direction: row;
}

.footer-nav a {
    color: white;
    text-decoration: none;
    font-family: Raleway;
    font-size: 18px;
    margin: 0 15px 0 15px;
    letter-spacing: 5px;
    vertical-align: bottom;
}

.footer-nav a:hover{
    color: #f2f2f293;
}


.default-number{
    font-family: sans-serif !important;
}

.main-links{
    padding: 35px 0 0 0 ;
}

.main-links a{
    color: white;
    text-decoration: none;
    font-family: Raleway;
    font-size: 18px;
    margin: 0 15px 0 15px;
    letter-spacing: 5px;
    vertical-align: bottom;
}

.main-links a:hover{
    color: #f2f2f293;
}

.mch-sm{
    min-height: 60vh;
}

.copyright{
    padding: 15px 0 0 0 ;
    color: white;
    font-size: 18px;
    font-family: Raleway;
}

.copyright a{
    color: white;
    font-weight: bold;
}

.copyright a:hover{
    color: #f2f2f293;
}


@media screen and (max-width: 1024px) {
    .main-links {
        padding: 35px 0 0 0;
        width: 80%;
        margin: 0 auto 0 auto;
        text-align: center;
    }
    .main-links a {
        display: inline-block;
        color: white;
        text-decoration: none;
        font-family: Raleway;
        font-size: 18px;
        margin: 10px 15px 10px 15px;
        letter-spacing: 5px;
        vertical-align: bottom;
    }
}